<div class="habitap-footer">
  <div class="container">
    <div class="tap-tab">
      <a ui-sref="home">
        <img src="/img/rectangle30.png"/>
        <span>timeline</span>
      </a>
    </div>
    <div class="tap-tab">
      <a ui-sref="friends">
        <img src="/img/animal120.png"/>
        <span>friends</span>
      </a>
    </div>
    <div class="tap-tab">
      <a ui-sref="discover">
        <img src="/img/location59.png"/>
        <span>discover</span>
      </a>
    </div>
    <div class="tap-tab">
      <a ui-sref="donate">
        <img src="/img/heart365.png"/>
        <span>give</span>
      </a>
    </div>
  </div>
</div>
