<div class="habitap-footer">
  <div class="container">
    <div class="tap-tab">
      <div ui-sref="timeline" class="timeline">
        <span>timeline</span>
      </div>
    </div>
    <div class="tap-tab">
      <div ui-sref="friends" class="friends">
        <img src="/img/animal120.png"/>
        <span>friends</span>
      </div>
    </div>
    <div class="tap-tab">
      <div ui-sref="discover" class="discover">
        <img src="/img/location59.png"/>
        <span>discover</span>
      </div>
    </div>
    <div class="tap-tab">
      <div ui-sref="donate" class="donate">
        <img src="/img/heart365.png"/>
        <span>give</span>
      </div>
    </div>
  </div>
</div>
