@mixin font-name($font-size: null, $base-size: null){
	font-family: $font-family-gotham;
	font-weight: 300;
	font-style: normal;

	@if ($font-size != null){
		@include font-size($font-size, $base-size);
	}
}

@mixin font-size($font-size, $base-size){
  	@if ($base-size == null) {
  		font-size: px-to-em($font-size);
  	}

  	@else {
	  	font-size: px-to-em($font-size, $base-size);
  	}
}

